*.o
*.a
*.lo
*.la
*.stamp
*.bak
*.tmp
*.class
*.gir
*.typelib
.tm*
~*

nbproject/
.idea/
*.iml

/autom4te.cache

/INSTALL
Makefile
Makefile.in
/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/gtk-doc.make
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/stamp-h1
jni/src/.libs
jni/src/.deps

wrapper/org/GNOME/Accessibility/AtkWrapper.java
wrapper/java-atk-wrapper.jar
/bin
